/* <div className='fine-and-payment-main-container'>
{fineData.map((val, key) => (
  <div className='fine-details-container' key={key}>
    <p>Violation: {val?.violation}</p>
    <p>Vehicle Number: {val?.vehicleNumber}</p>
    <p>Payment Amount: {val?.paymentAmount}</p>
    <p>Date: {val?.Date}</p>
    <img src={QrImage} width={250} height={250} alt='' />
  </div>
))}
</div> */

.fine-and-payment-main-container {
  margin-left: 250px;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100vh;
  padding: 50px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
  animation: scaleIn 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.fine-details-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
  border-radius: 8px;
  text-wrap: wrap;
  height: fit-content;
}
.fine-details-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.fine-details-container:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.fine-details-container strong {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  height: fit-content;
}
.fine-details-container p {
  color: grey;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  height: fit-content;
  margin: 0;
}
